<input type="text" id="q" />
<input type="button" id="submit" value="submit" />
<form action="https://api.coursera.org/api/catalog.v1/courses?q=search&query=">
    <input type="text" value="value">
        <input type="submit" value="submit">
        </form>

<script>
  $(function () {
    $('#submit').click(function() {
        var url = "https://api.coursera.org/api/catalog.v1/courses?q=search&query=";
        url += $('#q').val();
        window.location = url;
    });
});
  
</script>